.scroll::-webkit-scrollbar {
  display: none;
}

.scroll ::-moz-scrollbar {
  display: none;
}

.scroll {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent; /*just hides the scrollbar for firefox */
}
